.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem;
    background-color: rgb(99, 93, 93);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>") 16 0,auto; /*!emojicursor.app*/
    box-shadow: 0 0 7px rgb(72, 72, 72);
}

.circle:active {
    box-shadow: inset 0 0 40px rgb(96, 96, 96);
}

/* .pink {
    background-color: rgb(255, 0, 170);
}

.green {
    background-color: rgb(56, 198, 56);
}

.yellow{
    background-color: yellow;
}

.lightblue {
    background-color: rgb(37, 174, 176); 
} */

@media only screen and (max-width: 890px){
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin: 1rem;
        background-color: rgb(99, 93, 93);
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>") 16 0,auto; /*!emojicursor.app*/
        box-shadow: 0 0 7px rgb(72, 72, 72);
    }
}