@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --special-font: 'Press Start 2P', cursive;
  --button-color: rgb(220, 209, 209);
}
html {
 height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--special-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(#e45bbb, #84dedc);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

button {
  border: none;
  padding: 0.8rem 2rem;
  font-family: var(--special-font);
  background-color: --button-color;
  margin: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

h1, 
p {
  margin: 4rem auto;
}

.circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.button_wrap {
  display: flex;
  justify-content: center;
}

.active {
  box-shadow: 0 0 25px snow;
  /* border: 15px solid snow; */
  background-image: url("/src/assets/horse-3d-colorful.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

/***** GAME OVER popup area *****/

.overlay {
  background-color: rgba(0, 0, 0, 0.461);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup h1, 
.popup p {
  margin: 1rem;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  position: absolute;
  padding: 2rem;
  background-color: white;
  top: -400px;
  transform-origin: top right;
  animation: drop 0.5s ease forwards,
             swing 2s 1s ease-in both;
}

@keyframes drop {
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px); opacity: 1}
}

@keyframes swing {
  0%{transform: rotateZ(0deg)}
  10%{transform: translateY(650px) rotateZ(-5deg)}
  15%{transform: translateY(650px) rotateZ(-10deg)}
  100%{transform: translateY(650px) rotateZ(0deg)}
}

.close {
  align-self: flex-end;
  padding: 0.5rem 0.5rem;
  margin-top: 0;
  margin-right: 0;
}

.rainbowField {
  display: flex;
  justify-content: center;
}

.rainbow {
  margin: 0.3rem;
}


@media only screen and (max-width: 890px) {
  h1, 
  p {
    margin: 1rem auto;
  }

  .rainbow {
    margin: 0.2rem;
  }
}